@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

#App{
  min-width: 100vw;
  min-height: 100vh;
}

.inner{
  padding-left: 340px;
  padding-right: 340px;
}

.inner-mobile{
  padding-left: 24px;
  padding-right: 24px;
}

*{
  box-sizing: border-box;
  font-family: Pretendard-Regular;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@media screen and (max-width: 1700px) {
  .inner{
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (max-width: 1500px) {
  .inner{
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .inner{
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .inner{
    padding-left: 50px;
    padding-right: 50px;
  }
}